*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eee;
}
.header{
	background-color: #000;
	height: 60px;
}
.header_left{
	float: left;
	margin: 8px 40px;
}
.header_right{
	float: right;
	margin-right: 15px;
	
}
.navBar{
	list-style: none;
}
.navBar li{
	float: left;
	width:80px;
	/*margin:	20px 0;*/
	height: 60px;
	line-height: 60px;
}
.navBar li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.navBar li .tebie{
	color:#ff0;
}
.content{
	width: 1240px;
	background-color: #fff;
	margin: 20px auto;
	border-left:1px solid #eee ;
	border-top:1px solid #eee ;
	border-right:4px solid #ccc ;
	border-bottom:4px solid #ccc  ;
	padding: 40px 20px;
}
.content .indent{
	text-indent: 2em;
}
.content .img{
	margin: 10px 0;
}
.list{
	list-style: none;
	margin-left: 20px;
}
.picture{
	margin: 10px 0 10px 40px;
	border: 1px solid #eee;
	width: 120px;
	text-align: center;
}
.picture p{
	margin:10px ;
}
.picture img{
	margin-bottom: 10px;
}
.content .pm li{
	font-weight: bold;
	margin: 10px 50px;
}
.table .bga{
	background-color: #aaa;
}
.table{
	border-bottom: 1px solid #eee;
border-right: 1px solid #eee;
}
.table td{
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
}
.table .bg{
	background-color: #eee;
}
.content .title{
	border-left: 5px solid #ccc;
	height: 35px;
	padding-left: 10px;
	line-height: 35px;
}
.content ul{
	padding-left: 270px;
	list-style: none;
}
.content ul li span{
	width: 150px;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
	font-family: "微软雅黑";
}
.content ul li{
	height: 40px;
}
.content ul li .input{
	width: 130px;
	height: 20px;
}
.content ul .yaoqiu{
	font-size: 10px;
	display: block;
	margin:0 0 20px  160px;
	color: #bbb;
}
.content ul li .top{
	vertical-align: top;
}
.content ul li textarea{
	width: 765px;
	height: 100px;
}
.content button{
	display: block;
	width: 1225px;
	height: 40px;
	background-color: blue;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-top: 75px;
}
.footer{
	height: 50px;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}
